<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ playername }} Stats</title>
</head>
<body>
    <table border="5">

        <TR>
            <th colspan="15">
                <h3><br>Per Game Stats for the NBA 2019-2020 Season</h3>
            </th>
        </TR>
        <th>Name</th>
        <th>Games</th>
        <th>minutes</th>
        <th>FG%</th>
        <th>FTA</th>
        <th>3PA</th>
        <th>3P%</th>
        <th>FTA</th>
        <th>FT%</th>
        <th>EFG</th>
        <th>ORB</th>
        <th>DRB</th>
        <th>STL</th>
        <th>BLK</th>
        <th>PTS</th>
        <tr>
            <td>{{Davo Dickson}}</td>
        </tr>
    </table>

</body>
</html>